#equalizer {
  background-color: white;
  outline: 2px solid black;
  position: absolute;
  top: 100px;
  left: 400px;
  width: 452px;
  display: block;
  z-index: -5;
}
body {
  overflow: hidden;
}
#list {
  height: 96px;
  overflow-y: scroll;
  display: inline-block;
}
#reset {
  position: absolute;
  left: 185px;
  top: 80px;
  padding: 5px 10px;
  border: 1px solid black;
}
#reset:hover {
  cursor: pointer;
}
#default {
  background: linear-gradient(180deg, rgba(0, 0, 255, 1), rgba(0, 0, 255, 0.5));
}
.active {
  background: linear-gradient(180deg, rgba(0, 0, 255, 1), rgba(0, 0, 255, 0.5));
}
.optionsValue:hover {
  background: linear-gradient(180deg, rgba(0, 0, 255, 1), rgba(0, 0, 255, 0.5));
  cursor: pointer;
}
#stereo {
  background-color: white;
  display: grid;
  margin-top: 220px;
  grid-row-gap: 20px;
  transform: rotate(-90deg);
  transform-origin: left top;
  width: 208px;
  padding-left: 5px;
  border: 1px solid black;
}
label {
  display: inline-block;
  width: 30px;
}
#check {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 180px;
  width: 200px;
}
#check label {
  width: 100%;
}
