.border {
  width: 30px;
  border-radius: 4px;
  margin: 0px auto 0 auto;
  height: 5px;
  background-color: white;
}

div[data-test-id="CircularProgressbarWithChildren"] {
  margin: 0 10px;
  width: 50px;
}

.fontSize {
  font-size: 20px;
}
.animate {
  animation-name: anime;
  animation-duration: 0.85s;
  animation-fill-mode: forwards;
}
.CircularProgressbar {
  width: 50px;
  vertical-align: middle;
}
@keyframes anime {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
.play {
  font-size: 35px;
  text-align: center;
  color: white;
  /* border-radius: 50%; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.playBigBtn {
  color: white;
  background-color: black;
  font-size: 100px;
  border-radius: 50%;
}
.fullscreen {
  font-size: 35px;
  color: white;
}
.hover:hover {
  cursor: pointer;
}
.subtitles {
  font-size: 35px;
  display: flex;
  flex-direction: column;
}
.skipbtn,
.loop {
  font-size: 35px;
}

.wrapper,
.volumeContainer {
  margin: 0 10px;
}
