.closeBtn {
  margin: auto;
  font-size: 25px;
}
.navbar_img:last-child:hover {
  background-color: red;
}

#navbar {
  background-color: darkslateblue;
  color: white;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 26.4px;
  position: sticky;
  top: 0px;
  z-index: 3; /* to overcome playlist  */
  list-style-type: none;
  -webkit-app-region: drag;
}
.navbar_li {
  padding: 4px 5px;
  -webkit-app-region: no-drag;
}
.navbar_li:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar_img {
  /* border: 1px solid white; */
  /* background-color: rgba(255, 255, 255, 0.3); */
  color: white;
  padding: 0px 10px;
  margin: auto 0px;
  height: 25px;
  display: flex;
}
.navbar_img:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}
#navbar_right {
  margin-left: auto;
}
#window-minimize {
  width: 16px;
  height: 3px;
  background-color: white;
  margin: auto;
}

#window-maximize {
  margin: auto;
  width: 16px;
  height: 16px;
  border: 2px solid white;
  border-radius: 30%;
  background-color: inherit;
}
.dropdown {
  position: relative;
}
.dropdownItems {
  position: absolute;
  top: 26.4px;
  left: 0px;
  background-color: darkslateblue;
  display: inline-block;
  width: 150px;
  -webkit-app-region: no-drag;
}
.dropdownItems div {
  padding: 4px 5px;
}
.dropdownItems div:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}
